
@media (min-width: 1600px) {
    .container-md{
        max-width: 1226px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-lg{
        max-width: 1338px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-xxl{
        max-width: 1396px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-xl{
        max-width: 1364px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .g-custom{
        --bs-gutter-x: 2.875rem;
        --bs-gutter-y: 3.625rem;
    }
    .g-custom2{
        --bs-gutter-x: 4.125rem; 
    }
    .g-custom3{
        --bs-gutter-x: 1rem; 
    }
}


.custom-container{
    max-width: 1640px;
    margin: auto;
}

/* XX-Large devices (larger desktops, 1800px and up) */
/* r18 */
@media (max-width: 1700px) { 
    .custom-container{
        max-width: 1540px;
    }
}


/* XX-Large devices (larger desktops, 1600px and up) */
/* r16 */
@media (max-width: 1600px) { 
    .header-section .list-inline-item:not(:last-child){
        margin-right: 90px;
    }
    .g-custom{
        --bs-gutter-x: 1.875rem;
        --bs-gutter-y: 1.875rem;
    }
    .custom-container{
        max-width: 1400px;
    }
    
}


/* XX-Large devices (larger desktops, 1400px and up) */
/* r14 */
@media (max-width: 1440px) { 
    .header-section .list-inline-item:not(:last-child){
        margin-right: 80px;
    }
    .header-logo img {
        margin-bottom: 70px;
        width: 180px;
    }
    .custom-container{
        max-width: 1140px;
    }
}


/* X-Large devices (large desktops, 1200px and up) */
/* r12 */
@media (max-width: 1200px) { 
    .header-section .list-inline-item:not(:last-child){
        margin-right: 60px;
    }
    .profile-box .img{
        margin: 0 40px 0 0;
    }
    .card-info{
        width: 350px;
    }
    .custom-container{
        max-width: 940px;
    }
    .page-inner {
        padding: 80px 0px;
    }
}

/* Large devices (desktops, 992px and up) */
/* r9 */
@media (max-width: 992px) { 
    .custom-container{
        max-width: 750px;
    }
    .header-section .list-inline-item:not(:last-child){
        margin-right: 50px;
    }
    .dekstop-menu ul li a{
        font-size: 18px;
    }
    .header-logo img {
        width: 152px;
    }
    .login-part .login-btn {
        margin-left: 22px;
    }
    .heading{
        max-width: 600px;
    }
    .login-page .form-control{
        width: 300px;
    }
    
}

/* Medium devices (tablets, 768px and up) */
/* r7 */
@media (max-width: 768px) { 
    body{
        font-family: 'League Spartan', sans-serif;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
    }
    .custom-container{
        max-width: 100%;
        margin-right: 36px;
        margin-left: 36px;
    }
    .container-xxl{
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-md{
        padding-right: 0px;
        padding-left: 0px;
    }
    .container{
        padding-right: 36px;
        padding-left: 36px;
    }
    .header-section .list-inline-item:not(:last-child){
        margin-right: 40px;
    }
    .header-section{
        padding: 20px 0px 0px;
    }
    h3, .h3{
        font-size: 20px;
    }
    .login-part .btn-one span{
        font-size: 14px;
    }
    .login-part .login-btn span{
        font-size: 14px;
    }
    .fix-mobile-log i{
        font-size: 18px;
    }
    .fix-mobile-log .meassage-box i{
        font-size: 27px;
    }
    .heading{
        max-width: 500px;
    }
    .page-inner {
        padding: 60px 0px;
    }
    .page-inner-two {
        padding: 60px 0px 60px;
    }
    .heading .title{
        font-size: 24px;
    }
    .heading .sub-title{
        font-size: 18px;
    }
    .heading .leef{
        margin-bottom: 15px;
    }
    .header-logo img {
        margin-bottom: 0px;
    }
    .profile-box .img{
        width: 100%;
        margin: 0 0 22px 0;
    }
    .profile-box{
        margin-bottom: 40px;
    }
    .profile-section{
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .pera-content{
        padding-top: 0px;
        padding-bottom: 14px;
    }
    
    .link-section .link{
       font-size: 16px;
    }
    .link-section .link{
        margin-bottom: 12px;
    }
    .footer-section .footer-nav{
        font-size: 14px;
        display: block;
    }
    .footer-section{
        padding-bottom: 90px;
    }
    .top-banner img{
        border-radius: 0px;
        border: none;
    }
    .details-content{
        margin-top: 30px;
    }
    .details-content p{
        margin-bottom: 30px;
    }
    #gallery-slider .img-box img{
        width: 358px;
        height: 277px;
    }
    .card-info{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .unser-content{
        margin-top: 35px;
    }
    .unser-content a{
        margin-top: 15px;
        width: 100%;
        margin-right: 0px;
    }
    .f-two{
        margin-top: 0px;
        border-radius: 0px;
        border: none;
    }
    #refer-slider {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 33px;
        margin-bottom: 0px;
    }  
    .refer-container{
        padding-top: 60px;
    }
    .refer-content .card{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .refer-content {
        padding: 53px 0px 0px;
        border-bottom: none;
    }
    .refer-content .qute p{
        font-size: 20px;
        text-align: center;
    }
    #refer-slider .card{
        max-width: 358px;
    }
    #refer-slider .owl-stage{
        margin-left: 36px;
    }
    #logo-slider .owl-stage{
        margin-left: 36px;
    }
    .logo-slider-part{
        margin-top: 14px;
        margin-bottom: 60px;
    }
    }
    .ref-slider-part.container-xl{
        padding-right: 0px;
        padding-left: 0px;
    }

    .project-list-part .card-text,
    #refer-slider .card-text{
        margin-bottom: 15px;
    }
    .project-list-part .card-body{
        padding: 30px 25px 85px 25px;
    }
    /* =========== login / reg / kontack ============ */
    .sub-heading{
        margin-top: 50px;
    }
    .sub-heading h3{
        margin-left: 10px; 
    }
    .login-page .form-control{
        width: 100%;
    }
    .login-page .mail {
        margin-right: 0px;
    }
    .login-page .log-form-inner{
        margin-bottom: 0px;
        border-bottom: none;
    }
    .login-page .log-form-inner{
        padding: 0px 0px 30px;
    }
    .common-layoute div{
        margin-bottom: 15px;
    }
    .project-details {
        padding-right: 0px;
        padding-left: 0px;
    }

/* Small devices (landscape phones, 576px and up) */
/* r5 */
@media (max-width: 576px) { 
    .heading{
        max-width: 358px;
    }
 }
/* Smaller devices (landscape phones, 576px and up) */
/* r4 */
@media (max-width: 450px) { 
    .profile-box .img{
        width: 100%;
        height: 205px;
        -o-object-fit: cover;
           object-fit: cover;
    }
 }
    
    
 }
 
 
 
}
}
}
}
}